<h1>Fishing Report</h1>
<br>
<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: true,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.submit "Log In" %>
  </div>
  
<% end %>

<%= render "devise/shared/links" %>
<div class="photo">
    <img src="https://cdn.thinglink.me/api/image/647489239688151040/1240/10/scaletowidth" alt="rainbow">
  </div>