<body>
    <p><%= simple_form_for([@location, @location.reports.build]) do |f| %>
        <%= f.input :title %>
        <%= f.input :content, label: "Report" %>
        <%= f.submit %>
    <% end %></p>

    <%= render 'devise/shared/flash' %>

    



</body>
    