
<p><%= simple_form_for @location do |f| %>
        <%= f.input :name %><br>
        <%= f.association :state, :collection => State.all, :include_blank => true %><br><br>
        <%= f.input :description %><br>
        <%= f.button :submit, :class => 'btn-custom' %><br>
    <% end %></p><br

    
