<h1>New Location</h1>
<p><%= simple_form_for @location do |f| %>
        <%= f.input :name %><br>
        <%= f.collection_select(:state_id, State.all, :id, :name) %><br><br>
        <%= f.input :description %><br>
        <%= f.button :submit, :class => 'btn-custom' %><br>
    <% end %></p><br