<h1> Location | <%= @location.name %></h1>
<p> Description: <br> <%= @location.description %></p>
<br>

<h3>Reports </h3>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
<%= render @location.reports %>
<br>
<br>
<h4>Write New Report:</h4>
<%= render 'reports/form' %>
<br>



<%= link_to 'Back', root_path %><br>
<%= link_to 'New Location', new_location_path %>
<!-- add created at timestamp >
