<!-- original nav bar
<nav>
    <ul>
        <li><%= link_to 'Home', root_path %></li>
        <% if !user_signed_in? %>
            <li><%= link_to 'Signup', new_user_registration_path %></li>
            <li><%= link_to 'Login', new_user_session_path %></li>
        <% else %>
            <li><%= current_user.email %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: 'delete' %>
        <% end %>     
    </ul>
</nav> 
-->
<nav>
  <body>
    <div class="navbar-header">
      <div class="navbar-text float-right">
      
        <div class="container">
          <% if user_signed_in? %>
            <%= link_to "Home", root_path, class: "navbar-link" %> |
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method:"delete"  %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </div>  
      </div>
    </div>
  </body>
<nav>  
 
