<!DOCTYPE html>
<html>
  <head>
    <title>Fishing Report</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar navbar-text">
      <div class="container">
        <div class="navbar-header">
          <% if user_signed_in? %>
            <%= link_to "Home", root_path, class: 'navbar-link' %> |
            <%= link_to 'Edit Profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method:"delete"  %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </div> 
      </div>
    </div>
      <div class="navbar navbar-text float-right">
        <% if user_signed_in? %>
          <%= link_to "Add Location", new_location_path, class: "navbar-link" %> |
          <%= link_to "Locations Index", locations_path, class: "navbar-link" %>
        <% end %>
      </div>
      <%= yield %>
  </body>
</html>
